*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
    background-color: lightgrey;
}

.titles {
    text-align: center;
    background-color: grey;
    padding: 1rem 2rem;
}

#title {
    padding: 2rem;
}

#img-div {
    width: 60%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

#image{
    max-width: 100%;
    max-height: 100%;
}

#tribute-info {
    text-align: center;
    display: inline-block;
    padding: 2rem;
}

#tribute-link {
    display: inline-block;
}

.page-text {
    text-align: center;
    padding: 2rem;
}

.footer {
    text-align: center;
    padding: 2rem;

}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    text-decoration: underline;
}